.pagePresentation{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;

    h1{
        font-family: "Lovelo Line";
        font-size: 60px;
        width: auto;
        text-align: center;
        color: white;
    }
    h2{
    font-size: 40px;
    color: white;
    }

   
button {
            margin-top: 10px;
            position: relative;
            cursor: pointer;
            border: none;
            width: 250px;
            height: 50px;
            border-radius: 50px;
            background: linear-gradient(90deg,#ef6464,#384dd2, #FFAA0D, #e574d2);
            background-size: 400%;
            color: #fff;
            font-size: 15px;
            letter-spacing: 4px;
          }
          button::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            background: linear-gradient(90deg,#ef6464,#384dd2, #FFAA0D, #e574d2);
            background-size: 400%;
            border-radius: 50px;
            transition: 0.5s;
          }
          button:hover {
            animation: animate 10s linear infinite;
          }
          button:hover::before {
            filter: blur(25px);
            opacity: 0.8;
            animation: animate 10s linear infinite;
          }
          @keyframes animate {
            0% {
              background-position: 0%;
            }
            100% {
              background-position: 400%;
            }
          }
}



@media screen and (max-width:768px) { 
    .pagePresentation {
        h1{
            font-size: 35px;
        }
         h2{
            font-size: 16px;
        }
    }
}



 