@font-face {
  font-family: "Lovelo Line";
  src: url(./police/Lovelo-LineLight.woff) format('woff');
}

$primary-color:linear-gradient(90deg, #c9b2c5,#afb6e5);
$secondary-color: #E8FDFD;
$violet:#c9b2c5;
$blue:#afb6e5;


body {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $primary-color;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .header{
    display: flex;
    justify-content: space-between;
    margin: 12px;
    flex-wrap:wrap;
    align-items: center;
    border-bottom:1px solid gray ;

    .headerTitle{
      font-size: 25px;
      font-weight: 800;
    }

    .headerSections{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 20px;
      font-size: 18px;
      font-weight: 600;
    }
    a{
      padding: 5px;
      margin: 5px;
      text-decoration: none;
      color: black;
    }
  }

  .pagePresentation{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    
    h1{
      font-family: "Lovelo Line";
      font-size: 60px;
      width: auto;
      text-align: center;
      color: white;
    }
   .subtitlePage{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
      p{
        font-size: 40px;
        color: $secondary-color;
        margin: 0;
      }
      img{
        width: 100px;
        height: 100px;
      }
   }

   p,a,h1{
    text-shadow: 0.1em 0.1em 0.2em black;
   }

   a{
    background-color: $blue;
    color: white;
    font-size: 20px;
    text-decoration: none;
    border: 3px solid white;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 1px 4px 12px black;
   }
  }
  
  #aboutMe{
    display: flex;
    align-items: center;
    margin: 50px;
    flex-direction: column;
    h2{
      margin: 0;
    }
    .aboutInfos{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 60px;
      p{
        max-width: 700px;
        text-align: justify;
        line-height: 25px;
      }
      img{
        border-radius: 50%;
        width: 100%;
        max-height: 300px;
      }
    }
  }


#skillsSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  h2{
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
  }
  .skillsCards{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    margin:15px;
    gap: 20px;
    width: 100%;
    justify-content:center;
    .skillCard{
      border-radius:100%;
      display: flex;
      flex-direction: column;
      width: 10%;
      height: 120px;
      padding: 30px;
      align-items: center;
      background-color: $blue;
      justify-content: center;
      cursor: pointer;
      box-shadow: white 1px 1px 15px 2px,;
    }

    .skillCard:hover{
      p{
        display: block;
      }
    }
  }
}

#projectsSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 35px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  .projectsCards{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    .projectInfos{
      max-width: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .projectCard{
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        width: 400px;
        height: 400px;
        align-items: center;
        background-color: rgb(230, 225, 235);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        img{
          width: 100%;
          height: 80%;
          border-radius: 20px 20px 0 0;
          object-fit: fill;
        }
        h4{
          margin: 10px;
        }
        
      }
      button{
        display: none;
      }
      ul{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 0;
        align-items: center;
        li{
          list-style-type: none;
          border: 1px solid $secondary-color;
          border-radius: 20px;
          padding: 10px;
          background-color: $blue;
          font-size: 10px;
          
        }
      }
    }
    .projectInfos:hover{
      
      .projectCard{
        filter: blur(5px);
      }
      a{
        position: absolute;
        button{
          display: inline-block;
          border-radius: 15px;
          font-size: 25px;
          color: white;
          border:3px solid white;
          background-color:$violet;
          text-shadow: 3px 2px 4px black;
          box-shadow:$violet 1px 1px 6px 5px;
          cursor: pointer;
          padding: 12px;
      }
      }
    }
  }
}

.projectDetails{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  .linkToBack{
    align-self: baseline;
    i{
      position: relative;
      margin: 20px;
      font-size: 25px;
      color: white;
    }
  }
  .imagesProject{
    display: flex;
    margin: 30px;
    div{
      display: flex;
      justify-content: center;
      img{
        max-height: 500px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 20px;
        width: 90%;
        object-fit: cover;
      }
    }
  }
  ul{
    display: flex;
    gap: 25px;
    padding: 0;
    li{
      list-style-type: none;
      background-color: $blue;
      border-radius: 15px;
      padding: 15px;
      border: 0.5px solid white;
    }
  }
  p{
    max-width: 800px;
    text-align: justify;
    line-height: 24px;
  }
  .linkToProject{
    text-decoration: none;
    color: black;
    background-color: $violet;
    border-radius: 30px;
    padding: 15px;
    border: 3px solid white;
  }
}

#contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 3px solid $secondary-color;
  margin-top: 50px;
  

  h3{
    font-size: 40px;
  }
  .form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    .infos{
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
    
    input{
      width: 300px;
      height: 2em;
      
    }
    input,textarea{
      font-size: 18px;
    }
  }
    button{
        width: 10em;
        border-radius: 15px;
          font-size: 15px;
          font-weight: bolder;
          color: black;
          border-color: white;
          background-color:$primary-color;
          text-shadow: 5px 5px 10px white;
          box-shadow:black 1px 2px 3px 3px,;
          cursor: pointer;
          padding: 12px;
          margin: 15px;
    }
}


