@font-face {
  font-family: "Lovelo Line";
  src: url(./police/Lovelo-LineLight.woff) format('woff');
}


$primary-color:linear-gradient(90deg, #c9b2c5,#afb6e5);
$secondary-color: #E8FDFD;
$violet:#c9b2c5;
$blue:#afb6e5;

@import url('./Pages/Error/_error.scss'); 

body {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $primary-color;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .header{
    display: flex;
    justify-content: space-between;
    margin: 12px;
    flex-wrap:wrap;
    align-items: center;
    border-bottom:1px solid white ;

    .headerTitle{
      font-size: 25px;
      font-weight: 800;
    }

    .headerSections{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 20px;
      font-size: 18px;
      font-weight: 600;
    }
    a{
      padding: 5px;
      margin: 5px;
      text-decoration: none;
      color: black;
    }
  }


  @keyframes bounce-to-right {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: -100%;
    }
  }
  .pagePresentation{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    
    h1{
      font-family: "Lovelo Line";
      font-size: 60px;
      width: auto;
      text-align: center;
      color: white;
    }
   .subtitlePage{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
      p{
        font-size: 40px;
        color: white;
      }
      img{
        width: 100px;
        height: 100px;
      }
   }

   p,a,h1{
    text-shadow: 0.1em 0.1em 1em black;
   }

   button{
    font-size: 20px;
    text-decoration: none;
    border: 0.5px solid white;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 1px 4px 12px black;
    background: linear-gradient(to right, $blue 50%, white 50%);
    background-size: 200% 100%;
    transition: background-position 0.5s;
   }
   button:hover{
    animation: bounce-to-right 0.5s ;
   }
  }
  
  #aboutMe{
    display: flex;
    align-items: center;
    margin: 150px;
    flex-direction: column;
    h2{
      margin: 0;
    }
    .aboutInfos{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 60px;
      p{
        max-width: 700px;
        text-align: justify;
        line-height: 25px;
      }
      img{
        border-radius: 50%;
        width: 100%;
        max-height: 300px;
      }
    }
  }


#skillsSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
  h2{
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
  }
  .skillsCards{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    margin:15px;
    gap: 20px;
    width: 100%;
    justify-content:center;
    .skillCard{
      border-radius:100%;
      display: flex;
      flex-direction: column;
      width: 120px;
      height: 120px;
      padding: 24px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      box-shadow: white -0.5px -0.5px 3px 1px,;
      background: $primary-color;
      img{
        width: 40px;
        height: 40px;
        object-fit: cover;
      }
      h3{
       padding: 5px;
      }
    }

    .skillCard:hover{
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      transition: transform 0.3s ease-in-out;
    }
  }
}

@keyframes hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

#projectsSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 35px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  padding: 30px;
  .projectsCards{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    .projectInfos{
      max-width: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      .projectCard{
        justify-content: center;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        width: 370px;
        height: 400px;
        align-items: center;
        background-color: rgb(230, 225, 235);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        padding-bottom: 25px;
        img{
          width: 100%;
          height: 90%;
          border-radius: 20px 20px 0 0;
          object-fit: cover;
        }
        h4{
          margin: 10px;
        }
        
      }
      button{
        display: none;
      }
    }
    .projectInfos:hover{
      
      .projectCard{
        filter: brightness(40%);
        animation: hang 1s infinite;
      }
      a{
        position: absolute;
        button{
          display: inline-block;
          border-radius: 15px;
          font-size: 25px;
          color: white;
          border:1px solid white;
          background:$primary-color;
          text-shadow: 3px 2px 4px black;
          box-shadow:$violet 1px 1px 10px 5px;
          cursor: pointer;
          padding: 12px;
      }
      }
    }
  }
}

.projectDetails{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  .linkToBack{

    display: flex;
    align-self: baseline;
    align-items: center;
    text-decoration: none;
    color: black;

    i{
      position: relative;
      margin: 20px;
      font-size: 40px;
      color: black;
    }
  }
  .imagesProject{
    display: flex;
    margin: 30px;
    div{
      display: flex;
      justify-content: center;
      img{
        max-height: 500px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 20px;
        width: 90%;
        object-fit: cover;
      }
    }
  }
  ul{
    display: flex;
    gap: 25px;
    padding: 0;
    li{
      list-style-type: none;
      background-color: $blue;
      border-radius: 15px;
      padding: 15px;
      border: 0.5px solid white;
    }
  }
  p{
    max-width: 800px;
    text-align: justify;
    line-height: 24px;
  }
  .linkToProject{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 4px 5px black;
    background: linear-gradient(white,$violet);
    display: flex;
    align-items: center;
    gap: 10px;
    img{
      width: 20px;

    }
  }
}

#contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 3px solid $secondary-color;
  margin-top: 50px;
  

  h3{
    font-size: 40px;
  }
  .form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    .infos{
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
    
    input{
      width: 300px;
      height: 2em;
      
    }
    input,textarea{
      font-size: 18px;
    }
  }
    button{
        width: 10em;
        border-radius: 15px;
          font-size: 15px;
          font-weight: bolder;
          background: none;
          color: black;
          border-color: white;
          text-shadow: 5px 5px 10px white;
          box-shadow:white 1px 1px 3px 2px,;
          cursor: pointer;
          padding: 12px;
          margin-bottom: 50px;
          margin-top: 15px;
    }
}


