$primary-color:#DDD7F1;

body {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $primary-color;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .header{
    display: flex;
    justify-content: space-between;
    margin: 12px;
    flex-wrap:wrap;
    align-items: center;
    border-bottom:1px solid gray ;

    .headerTitle{
      font-size: 25px;
      font-weight: 800;
    }

    .headerSections{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 20px;
      font-size: 18px;
      font-weight: 600;
    }
    p{
      padding: 5px;
      margin: 5px;
    }
  }