header{
    display: flex;
    justify-content: space-between;
    margin: 12px;
    flex-wrap:wrap;
    align-items: center;
    border-bottom:1px solid white ;
    padding: 15px;

    .headerTitle{
      font-size: 25px;
      font-weight: 800;
      img{
        width: 30px;
      }
    }

    .headerSections{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 20px;
      font-size: 18px;
      font-weight: 600;
    }
    a{
      padding: 5px;
      margin: 5px;
      text-decoration: none;
      color: black;
      transition: transform 0.3s ease;
    }
    a:hover {
      transform: translateY(-5px);
      color: white;
    }
  }

  @media screen and (max-width: 768px) {
    header {
      justify-content: center;
      .headerSections{
        gap: 0;
      }
    }
  }