#projectsSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    padding: 30px;
    .projectsCards{
      display: flex;
      gap: 50px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: baseline;
      .projectInfos{
        max-width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        .projectCard{
          justify-content: center;
          display: flex;
          flex-direction: column;
          border-radius: 20px;
          max-width: 370px;
          height: 400px;
          align-items: center;
          background-color: rgb(230, 225, 235);
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          padding-bottom: 25px;
          img{
            width: 100%;
            height: 90%;
            border-radius: 20px 20px 0 0;
            object-fit: cover;
          }
          h3{
            margin: 10px;
          }
          
        }
        button{
          display: none;
        }
      }
      .projectInfos:hover{
        
        .projectCard{
          filter: brightness(40%);
        }
        a{
          position: absolute;
          button {
            background: linear-gradient(to bottom right, #f119cd,#1026b4);
            border: none;
            border-radius: 12px;
            color: #FFFFFF;
            cursor: pointer;
            display: inline-block;
            font-size: 20px;
            line-height: 2.5;
            padding: 0 8px;
            transition: box-shadow .2s ease-in-out;
          }
          
          button:not([disabled]):hover {
            box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
          }
        }
      }
    }
  }

  @media screen and (max-width:768px) {
    #projectsSection .projectsCards .projectInfos .projectCard {
      width: 275px;
      height: 250px;
    }
  }


